/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1350px) {
  .modal-window__prod-slider {
    width: 100% !important;
  }
  .modal-window__p-description {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .modal-window {
    padding: 24px 18px;
  }
  .modal-window__m-bottom {
    margin-left: 0;
    width: 100%;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 15px;
  }
  .looking__title {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .looking__ornament {
    width: 100%;
    padding-bottom: 16px;
    margin: 0;
  }
  .looking__opened {
    left: 50%;
    margin-left: -115px;
  }
  .looking__link {
    margin: 0 auto;
  }
  .looking__button {
    width: 100%;
    padding-bottom: 16px;
  }
  .looking__button-submit {
    margin: 0 auto;
  }
  .social {
    text-align: center;
  }
  .social__item {
    margin: 0;
  }
  .additionally {
    display: block;
    width: 100% !important;
    padding-left: 20%;
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer__extra-info {
    width: 100%;
  }
  .footer__contact {
    width: 100% !important;
    padding-left: 50px;
  }
  .pay-icon__item-first {
    margin-left: 97px;
  }
  .logistic__item-first {
    margin-left: 103px;
  }
  .contact {
    padding-top: 21px;
    padding-left: 46px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .remodal {
    max-width: 96% !important;
  }
  .center-line {
    padding-bottom: 20px;
  }
  .information__item-last {
    margin-top: 10px !important;
  }
  .additionally {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .footer__contact {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .contact {
    width: 200px;
    margin: 0 auto;
    padding-left: 0;
  }
  .contact__title {
    text-align: center;
  }
  .pay-icon {
    width: 320px;
    margin: 0 auto;
  }
  .pay-icon__item-first {
    margin-left: 61px;
  }
  .logistic {
    width: 200px;
    margin: 0 auto;
    padding-left: 0;
  }
  .logistic__item-first {
    margin-left: 6px;
  }
  .nav {
    display: none;
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 999;
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
    border: 1px solid #dbd8d8;
  }
  .nav__item {
    display: block;
    text-align: center;
  }
  .nav__link {
    border-bottom: 4px solid transparent;
  }
  .nav__toggle {
    display: block !important;
    border-bottom: 4px solid transparent;
  }
  .bottom-line__nav {
    position: relative;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .slider {
    display: none;
  }
  .popular__item {
    width: 50%;
    margin: 10px 25%;
    height: auto;
    border: 2px solid #b6ecea !important;
  }
  .looking__wrapper {
    margin-top: 45px;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .banners__item, .block__item {
    width: 96%;
    padding: 0 2%;
    margin-top: 20px;
  }
  .popular__item {
    width: 96%;
    margin: 10px 2%;
  }
  .center-line__search {
    width: 80%;
    margin: 0 auto;
  }
  .center-line__phone {
    width: 80%;
    margin: 0 auto;
  }
  .center-line__center {
    width: 100%;
  }
  .center-line__basket {
    padding-right: 20px;
  }
  .logo {
    padding-left: 0;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
